<!DOCTYPE html>
<html>

<head>
    <meta chatset='utf-8'>
    <title>Something</title>
    {{> head}}
</head>

<body>
    <p>{{bodyShit}}</p>
    <p>{{otherShit}}</p>
    {{> footer}}
</body>

</html>