<!DOCTYPE html>
<html>

<head>
    <meta chatset='utf-8'>
    <title>ABOUT page</title>
    {{> head}}
</head>

<body>
    <p>{{pageTitle}}</p>
    <p>hello it's a new module started to work</p>
    {{> footer}}
</body>

</html>